[user]
	name = Chris Nowicki
	email = 102450568+chris-nowicki@users.noreply.github.com
	
[init]
	defaultBranch = main

[push]
	autoSetupRemote = true

[credential]
	helper = osxkeychain

[includeIf "gitdir:~/Dev/bigcommerce/"]
	path = ~/.gitconfig-bc

[pull]
    rebase = true  # cleaner history than merge commits

[alias]
    whoami = config user.email  # check which email you're using