[user]
	name = Chris Nowicki
	email = 102450568+chris-nowicki@users.noreply.github.com
	
[init]
	defaultBranch = main

[push]
	autoSetupRemote = true

[credential]
	helper = osxkeychain

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[includeIf "gitdir:~/Dev/thisdot/"]
	path = ~/.gitconfig-work

[alias]
    getconfig = "!git checkout v1-local-settings -- ./auth.json ./_assets/knopman.json ./backend/config/params.php ./common/config/main-local.php"