[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "zsh/exa"]
	path = zsh/exa
	url = git@github.com:dracula/exa.git
[submodule "zsh/themes/dracula"]
	path = zsh/themes/dracula
	url = https://github.com/dracula/zsh.git
